<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create New Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div align="center">
    <h1>Create New Product</h1>
    <br />
    <form action="#" th:action="@{/save}" th:object="${cityInfo}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>City:</td>
                <td><input type="text" th:field="*{city}" /></td>
            </tr>
            <tr>
                <td>Info:</td>
                <td><input type="text" th:field="*{info}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>